

.markdown {
    text-align:left;
    width: 100%;
    height: 100%;
}
.markdown-editor {
    width: 95%;
    height: 100%;
    padding: 10px;
    font-family: monospace;
    border: 1px solid #ddd;
}
table {
    text-align: left;
    width: 90%;
    margin-top: 10px;
    background-color: white;
  }
tr:nth-child(even) {background-color: #fef9e7;}
th {
    background-color: #fad7a0 ;
}
tr:hover {background-color: rgb(153, 200, 251);}
th, td {
text-align: center;
padding: 8px;
}
  
.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 300px;
    position: relative;
    background-color: #f4f4f4;
}
.content{
    flex: 1;
    padding: 15px;
    overflow-y: scroll;
    margin-top: 3em;
    margin-bottom: 2em;
}
.tabs {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Space between buttons */
}
.tab {
    padding: 4px 12px;
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tab.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #0056b3;
}

.lbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Space between buttons */
}
.lbutton {
    padding: 4px 12px;
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    border: none;
    font-size: 9px;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.lbutton.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #0056b3;
}

