.topbuttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px; /* Space between rows */
}
.bottombuttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px; /* Space between rows */
}
.row {
    display: flex;
    flex-direction: row;
    gap: 4px; /* Space between columns */
}
.button {
    padding: 4px 8px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #0056b3;
}
.labeldiv {
    background-color: lightgray;
    border-radius: 15px;
    padding: 10px;
    border: 1.5px solid black;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow:hidden;
}
.labeldiv:hover {
    background-color: white;
    max-height: 100%;
  }