body {
  margin: 0;
  line-height: 1.6;
  font-family: Helvetica, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 12pt;
  margin-block-end: 0;
  font-size: 14pt;
  font-style:italic
}
h1 {
  font-size: 18pt;
  font-style:normal;
}
h2 {
  font-size: 16pt;
  font-style:italic;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #007bff;
  
}
